
	
		<%# render 'comments/comment' %>

			<% @comentarios = Comment.where(micropost_id: @micropost) %>
        <% @micropost.comments.order("created_at desc").first(10).each do |comment| %>
          <div class="comentario" style="font-size: 13px;">
            <% if @micropost.comments.any? %>
              <% if comment.reply.blank? %>
                <ul class="comentario" style="margin-top: 10px;">
                  <li class="imagen" style="">
                    <%= image_tag (comment.user.foto.url), class: "img-circle", size: 40 if comment.user.foto? %>
                    <div style="display: inline-flex; align-items: center; margin-top: 10px;">
                      <b><%= link_to comment.user.name, comment.user %></b>                      
                    </div>
                  </li>
                  <li style="padding: 0px;">
                    <ul class="texto_comentario">
                      <li style="padding: 0px;">
                        <%= simple_format(comment.contenido) %>
                      </li>                  
                      <li class="form_reply" style="margin: 0px; margin-bottom: 10px;">
                        <%= form_for([@micropost, Comment.new], remote: true) do |f| %>
                          <% @comment = comment %>
                          <span style="color: #337ab7;">Reply</span>&nbsp;&nbsp;|
                      <span class="timestamp" style="font-size: 11px; margin: 0px;">&nbsp;&nbsp;<%= time_ago_in_words(comment.created_at) %> ago.</span>
                      <%= render 'comments/comment_form', f: f %>
                        <% end %>
                      </li>
                    </ul>
                  </li>
                </ul>
                  <div class="reply1">
                    <% if (@reply1 = Comment.where(reply: comment)).any? %>
                      <% @reply1.order("created_at desc").each do |reply1| %>
                      <% @user1 = User.find_by(id: reply1.user_id) %>
                      <ul class="comentario">
                        <li class="imagen">
                          <%= image_tag (@user1.foto.url), class: "img-circle", size: 40 if @user1.foto? %>&nbsp;<span><%= link_to @user1.name, @user1 %></span>
                        </li>
                        <li>
                          <ul class="texto_comentario">
                            <li>
                              <%= simple_format(reply1.contenido) %>                              
                            </li>
                            <li class="form_reply" style="margin: 0px; margin-bottom: 10px;">
                              <%= form_for([@micropost, Comment.new], remote: true) do |f| %>
                                <% @comment = reply1 %>
                                <span style="color: #337ab7;">Reply</span>&nbsp;&nbsp;|<span class="timestamp" style="font-size: 11px; margin: 0px;">&nbsp;&nbsp;<%= time_ago_in_words(reply1.created_at) %></span>
                                <%= render 'comments/comment_form', f: f %>
                              <% end %>
                            </li>
                          </ul>
                        </li>
                      </ul>
                        <div class="reply2">
                          <% if (@reply2 = Comment.where(reply: reply1)).any? %>
                            <% @reply2.order("created_at desc").each do |reply2| %>
                            <% @user2 = User.find_by(id: reply2.user_id) %>
                            <ul class="comentario">
                              <li class="imagen">
                                <%= image_tag (@user2.foto.url), class: "img-circle", size: 40 if @user2.foto? %>
                                <span><%= link_to @user2.name, @user2 %></span>
                              </li>
                              <li>
                                <ul class="texto_comentario">
                                  <li>
                                    <%= simple_format(reply2.contenido) %>                              
                                  </li>
                                  <li class="form_reply" style="margin: 0px; margin-bottom: 10px;">
                                    <%= form_for([@micropost, Comment.new], remote: true) do |f| %>
                                      <% @comment = reply2 %>
                                      <span style="color: #337ab7;">Reply</span>&nbsp;&nbsp;|<span class="timestamp" style="font-size: 11px; margin: 0px;">&nbsp;&nbsp;<%= time_ago_in_words(reply2.created_at) %></span>
                                      <%= render 'comments/comment_form', f: f %>
                                    <% end %>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                              <div class="reply3">
                                <% if (@reply3 = Comment.where(reply: reply2)).any? %>
                                  <% @reply3.order("created_at desc").each do |reply3| %>
                                  <% @user3 = User.find_by(id: reply3.user_id) %>
                                  <ul class="comentario">
                                    <li class="imagen">
                                      <%= image_tag (@user3.foto.url), class: "img-circle", size: 40 if @user3.foto? %>
                                      <span><%= link_to @user3.name, @user3 %></span>
                                    </li>
                                    <li>
                                      <ul class="texto_comentario">
                                        <li>
                                          <%= simple_format(reply3.contenido) %>                              
                                        </li>
                                        <li class="form_reply" style="margin: 0px; margin-bottom: 10px;">
                                          <%= form_for([@micropost, Comment.new], remote: true) do |f| %>
                                            <% @comment = reply3 %>
                                            <span style="color: #337ab7;">Reply</span>&nbsp;&nbsp;|<span class="timestamp" style="font-size: 11px; margin: 0px;">&nbsp;&nbsp;<%= time_ago_in_words(reply3.created_at) %></span>
                                            <%= render 'comments/comment_form', f: f %>
                                          <% end %>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                    <div class="reply4">
                                      <% if (@reply4 = Comment.where(reply: reply3)).any? %>
                                        <% @reply4.order("created_at desc").each do |reply4| %>
                                        <% @user4 = User.find_by(id: reply4.user_id) %>
                                        <ul class="comentario">
                                          <li class="imagen">
                                            <%= image_tag (@user4.foto.url), class: "img-circle", size: 40 if @user4.foto? %>
                                            <span><%= link_to @user4.name, @user4 %></span>
                                          </li>
                                          <li>
                                            <ul class="texto_comentario">
                                              <li>
                                                <%= simple_format(reply4.contenido) %>                              
                                              </li>
                                              <li class="form_reply" style="margin: 0px; margin-bottom: 10px;">
                                                <%= form_for([@micropost, Comment.new], remote: true) do |f| %>
                                                  <% @comment = reply4 %>
                                                  <span style="color: #337ab7;">Reply</span>&nbsp;&nbsp;|<span class="timestamp" style="font-size: 11px; margin: 0px;">&nbsp;&nbsp;<%= time_ago_in_words(reply4.created_at) %></span>
                                                  <%= render 'comments/comment_form', f: f %>
                                                <% end %>
                                              </li>
                                            </ul>
                                          </li>
                                        </ul>
                                          <div class="reply5">
                                            <% if (@reply5 = Comment.where(reply: reply4)).any? %>
                                              <% @reply5.order("created_at desc").each do |reply5| %>
                                              <% @user5 = User.find_by(id: reply5.user_id) %>
                                              <ul class="comentario">
                                                <li class="imagen">
                                                  <%= image_tag (@user5.foto.url), class: "img-circle", size: 40 if @user5.foto? %>
                                                  <span><%= link_to @user5.name, @user5 %></span>
                                                </li>
                                                <li>
                                                  <ul class="texto_comentario">
                                                    <li>
                                                      <%= simple_format(reply5.contenido) %>                              
                                                    </li>
                                                    <li class="form_reply" style="margin: 0px; margin-bottom: 10px;">
                                                      <%= form_for([@micropost, Comment.new], remote: true) do |f| %>
                                                        <% @comment = reply5 %>
                                                        <span style="color: #337ab7;">Reply</span>&nbsp;&nbsp;|<span class="timestamp" style="font-size: 11px; margin: 0px;">&nbsp;&nbsp;<%= time_ago_in_words(reply5.created_at) %></span>
                                                        <%= render 'comments/comment_form', f: f %>
                                                      <% end %>
                                                    </li>
                                                  </ul>
                                                </li>
                                              </ul>
                                                <div class="reply6">
                                                  <% if (@reply6 = Comment.where(reply: reply5)).any? %>
                                                    <% @reply6.order("created_at desc").each do |reply6| %>
                                                    <% @user6 = User.find_by(id: reply6.user_id) %>
                                                    <ul class="comentario">
                                                      <li class="imagen">
                                                        <%= image_tag (@user6.foto.url), class: "img-circle", size: 40 if @user6.foto? %>
                                                        <span><%= link_to @user6.name, @user6 %></span>
                                                      </li>
                                                      <li>
                                                        <ul class="texto_comentario">
                                                          <li>
                                                            <%= simple_format(reply6.contenido) %>
                                                          </li>
                                                          <li>
                                                            &nbsp;&nbsp;|<span class="timestamp" style="font-size: 11px; margin: 0px;">&nbsp;&nbsp;<%= time_ago_in_words(reply6.created_at) %></span>
                                                          </li>
                                                        </ul>
                                                      </li>
                                                    </ul>
                                                    <% end %>
                                                  <% end %>            
                                                </div>                                                
                                              <% end %>
                                            <% end %>            
                                          </div>                                          
                                        <% end %>
                                      <% end %>            
                                    </div>                                    
                                  <% end %>
                                <% end %>            
                              </div>                              
                            <% end %>
                          <% end %>            
                        </div>
                    <% end %>
                  <% end %>            
                </div>
              <% end %>
            <% end %> 
          </div>
        <% end %>      
