<div class="container">
  <% provide(:title) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        
        <%= image_tag @user.foto.url, size: 150 if current_user.foto? %>
        <h1><%= @user.name %></h1>
        <span><%= link_to "view my profile", @user %></span>
        <span><b>Microposts:</b> <%= @user.microposts.count %></span>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
        <% if @users.any? %>
          <div class="user_avatars">
            <% @users.each do |user| %>
              <%= image_tag user.foto.url, size: 50 if user.foto? %>
            <% end %>
          </div>
        <% end %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Nuestros representantes en <%= @ciudad %></h3>
		<h4></h4>
		<ul class="users">

	 <!-- es necesario pasar esto al controlador para quitarlo de aqui y poner varios rankins a la vez -->
			<li><%= @users.each do |x| %>
		    	<%= render (@user = User.where(:id => x.id).where(:ciudad => current_user.ciudad)) %>
		    	<%= x.followers.count %> 
				<% end %>
			</li>
			<div class="user_avatars">
			</div>
		</ul>

  <%= link_to "New plaza!", '/new_plaza', class: "btn btn-lg btn-primary" %>

	<h3>Nuestros representantes en <%= @autonomia %></h3>
		<h4></h4>
		<ul class="users">

	 <!-- es necesario pasar esto al controlador para quitarlo de aqui y poner varios rankins a la vez -->
		<li><%= @users.each do |x| %>
	    	<%= render (@user = User.where(:id => x.id).where(:autonomia => current_user.autonomia)) %>
	    	<%= x.followers.count %> 

		<% end %></li>
		<div class="user_avatars">

		</div>
	</ul>
    </div>
  </div>
</div>