<span class="emoticons">
    <ul class="" style="display: inline-flex; list-style: none; text-align: center; width: 100%; padding-left: 0px; padding-top: 10px;">
        <li style="width: 25%; background-color: #f2f4ff; padding: 10px;" onclick="divVisibility('Div1');"><i class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></i> Posts</li>  
        <li style="width: 25%; background-color: #f2f4ff; padding: 10px;" onclick="divVisibility('Div2');"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i> Link</li>  
        <li style="width: 25%; background-color: #f2f4ff; padding: 10px;" onclick="divVisibility('Div3');"><i class="fa fa-frown-o fa-lg" aria hidden="true"></i> Video</li>  
        <li style="width: 25%; background-color: #c2d7f9; padding: 10px;" onclick="divVisibility('Div4');"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i> <b> Imagen</b></li>
    </ul>
</span>

<!-------------------------------------------------------- -->
<!-- Formulario del micropost -->
    <%= form_for(@micropost, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
<div id="Div1" style="display: none;">
<div class="share-content">
    <ul style="list-style-type: none; -webkit-padding-start: 5px; margin: 0px;">
        <li style="display: inline-flex; margin-top: 10px;">
            <%= image_tag (current_user.foto.url), class: "img-circle", size: 25 if current_user.foto? %>
        </li>
        <li style="display: inline-flex; width: 90%; margin: 0px;">
            <%= f.text_area :content, placeholder: "Share something with the community..." %>
        </li>

    </ul>
    <div class="iconos-share">
        <ul style="display: inline-flex; list-style-type: none; width: 100%; margin-bottom: 3px; border-bottom: 1px solid #e6e9ec; border-top: 1px solid #e6e9ec; padding-left: 15px;">
            <li style="width: 30%;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#link"><span class="fa fa-newspaper-o fa-lg" aria-hidden="true" ></span> Link </button>
                    <div id="link" class="collapse">
                <%= f.text_field :link, placeholder: "Or maybe a link" %>
                    </div>           
            </li>
            <li style="width: 30%;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#video"><span class="fa fa-video-camera fa-lg" aria-hidden="true"></span> Video </button>
                    <div id="video" class="collapse">
                <%= f.text_field :video, placeholder: "Or send us a video. Just copy the video code from youtube" %>
                    </div>
            </li>
            <li style="padding: 0px; width: 25%; margin-left: 10px;">
                <div id="test">
                    <div class="wrapper" style="margin-top: 12px; margin-bottom: 0px;">
                        <%= f.file_field(:picture, accept: 'image/jpeg,image/gif,image/png',  class: 'file_input') %>
                    </div>
                    <button class= "btn btn-default btn-sm"><span class="fa fa-picture-o fa-lg" aria-hidden="true"></span> Image </button>
                </div>
            </li>
        </ul>
        <ul style="display: inline-flex; list-style-type: none; width: 100%; margin-bottom: 3px;">
                <li style="padding: 3px; width: 60%; margin-left: 15px; margin-right: 15px;">
                    <span class="fa fa-hashtag" aria-hidden="true">Hashtag </span>
                    <%= f.select :hashtag1, [
                        '',
                        'Family',
                        'People rights',
                        'Education',
                        'Energy',
                        'Environment',
                        'Health Care',
                        'Immigration',
                        'Jobs and Economy',
                        'National Security',
                        'Goverments',
                        'Elderly',
                        'Science and Technology',
                        'Voting',
                        'Reforms and Proposals',
                        'Sports',
                        'Daily Life'] %>
                </li>
                <li style="width: 30%; padding-top: 12px;" >
                    <%= f.hidden_field :petition, :value => false %>
                    <%= f.hidden_field :hashtag2, :value => "posts" %>
                    <%= f.submit "Post", class: "btn btn-info btn-sm" %> 
                </li>
            </ul>
    </div>
</div>
</div>
<!-- </div> -->    
    <!--
        <div class="col-xs-3">
        <%= f.select :hashtag3, [
        '',
        'Family',
        'People rights',
        'Education',
        'Energy',
        'Environment',
        'Health Care',
        'Immigration',
        'Jobs and Economy',
        'National Security',
        'Goverments',
        'Elderly',
        'Science and Technology',
        'Voting',
        'Reforms and Proposals',
        'Sports',
        'Daily Life'] %>
        </div>
    -->  
<% end %>

<!-- Formulario del micropost -->
    <%= form_for(@micropost, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
<div id="Div2" style="display: none;">
<div class="share-content">
    <ul style="list-style-type: none; -webkit-padding-start: 5px; margin: 0px;">
        <li style="display: inline-flex; margin-top: 10px;">
            <%= image_tag (current_user.foto.url), class: "img-circle", size: 25 if current_user.foto? %>
        </li>
        <li style="display: inline-flex; width: 90%; margin: 0px;">
            <%= f.text_area :content, placeholder: "Share something you need..." %>
        </li>
    </ul>
    <div class="iconos-share">
        <ul style="display: inline-flex; list-style-type: none; width: 100%; margin-bottom: 3px; border-bottom: 1px solid #e6e9ec; border-top: 1px solid #e6e9ec; padding-left: 15px;">
            <li style="width: 30%;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#link2"><span class="fa fa-newspaper-o fa-lg" aria-hidden="true"></span> Link </button>
                    <div id="link2" class="collapse">
                <%= f.text_field :link, placeholder: "Or maybe a link" %>
                    </div>           
            </li>
            <li style="width: 30%;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#video2"><span class="fa fa-video-camera fa-lg" aria-hidden="true"></span> Video </button>
                    <div id="video2" class="collapse">
                <%= f.text_field :video, placeholder: "Or send us a video. Just copy the video code from youtube" %>
                    </div>
            </li>
            <li style="padding: 0px; width: 25%; margin-left: 10px;">
                <div id="test">
                    <div class="wrapper" style="margin-top: 12px; margin-bottom: 0px;">
                        <%= f.file_field(:picture, accept: 'image/jpeg,image/gif,image/png',  class: 'file_input') %>
                    </div>
                    <button class= "btn btn-default btn-sm"><span class="fa fa-picture-o fa-lg" aria-hidden="true"></span> Image </button>
                </div>
            </li>
        </ul>
        <ul style="display: inline-flex; list-style-type: none; width: 100%; margin-bottom: 3px;">
                <li style="padding: 3px; width: 60%; margin-left: 15px; margin-right: 15px;">
                    <span class="fa fa-hashtag" aria-hidden="true">Hashtag </span>
                    <%= f.select :hashtag1, [
                        '',
                        'Family',
                        'People rights',
                        'Education',
                        'Energy',
                        'Environment',
                        'Health Care',
                        'Immigration',
                        'Jobs and Economy',
                        'National Security',
                        'Goverments',
                        'Elderly',
                        'Science and Technology',
                        'Voting',
                        'Reforms and Proposals',
                        'Sports',
                        'Daily Life'] %>
                </li>
                <li style="width: 30%; padding-top: 12px;" >
                    <%= f.hidden_field :petition, :value => false %>
                    <%= f.hidden_field :hashtag2, :value => "needs" %>
                    <%= f.submit "Post", class: "btn btn-info btn-sm" %> 
                </li>
            </ul>
    </div>
</div>
</div>
<% end %>

<!-- Formulario del micropost -->
    <%= form_for(@micropost, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
<div id="Div3" style="display: none; ">
<div class="share-content">
    <ul style="list-style-type: none; -webkit-padding-start: 5px; margin: 0px;">
        <li style="display: inline-flex; margin-top: 10px;">
            <%= image_tag (current_user.foto.url), class: "img-circle", size: 25 if current_user.foto? %>
        </li>
        <li style="display: inline-flex; width: 90%; margin: 0px;">
            <%= f.text_area :content, placeholder: "Share the problems detected..." %>
        </li>

    </ul>
    <div class="iconos-share">
        <ul style="display: inline-flex; list-style-type: none; width: 100%; margin-bottom: 3px; border-bottom: 1px solid #e6e9ec; border-top: 1px solid #e6e9ec; padding-left: 15px;">
            <li style="width: 30%;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#link3"><span class="fa fa-newspaper-o fa-lg" aria-hidden="true"></span> Link </button>
                    <div id="link3" class="collapse">
                <%= f.text_field :link, placeholder: "Or maybe a link" %>
                    </div>           
            </li>
            <li style="width: 30%;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#video3"><span class="fa fa-video-camera fa-lg" aria-hidden="true"></span> Video </button>
                    <div id="video3" class="collapse">
                <%= f.text_field :video, placeholder: "Or send us a video. Just copy the video code from youtube" %>
                    </div>
            </li>
            <li style="padding: 0px; width: 25%; margin-left: 10px;">
                <div id="test">
                    <div class="wrapper" style="margin-top: 12px; margin-bottom: 0px;">
                        <%= f.file_field(:picture, accept: 'image/jpeg,image/gif,image/png',  class: 'file_input') %>
                    </div>
                    <button class= "btn btn-default btn-sm"><span class="fa fa-picture-o fa-lg" aria-hidden="true"></span> Image </button>
                </div>
            </li>
        </ul>
        <ul style="display: inline-flex; list-style-type: none; width: 100%; margin-bottom: 3px;">
                <li style="padding: 3px; width: 60%; margin-left: 15px; margin-right: 15px;">
                    <span class="fa fa-hashtag" aria-hidden="true">Hashtag </span>
                    <%= f.select :hashtag1, [
                        '',
                        'Family',
                        'People rights',
                        'Education',
                        'Energy',
                        'Environment',
                        'Health Care',
                        'Immigration',
                        'Jobs and Economy',
                        'National Security',
                        'Goverments',
                        'Elderly',
                        'Science and Technology',
                        'Voting',
                        'Reforms and Proposals',
                        'Sports',
                        'Daily Life'] %>
                </li>
                <li style="width: 30%; padding-top: 12px;" >
                    <%= f.hidden_field :petition, :value => false %>
                    <%= f.hidden_field :hashtag2, :value => "problems" %>
                    <%= f.submit "Post", class: "btn btn-info btn-sm" %> 
                </li>
            </ul>
    </div>
</div>
</div>
<% end %>

<!-- Formulario de la consulta -->
<%= form_for(@micropost, html: { multipart: true }) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.hidden_field :petition, :value => true %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<div id="Div4" style="display: none; "> 
<div class="share-content">
    <ul style="list-style-type: none; -webkit-padding-start: 5px; margin: 0px;">
        <li style="display: inline-flex; margin-top: 10px;">
            <%= image_tag (current_user.foto.url), class: "img-circle", size: 25 if current_user.foto? %>
        </li>
        <li style="display: inline-flex; width: 90%; margin: 0px;">
            <ul style="padding-left: 0px; width: 110%;">
                <li style="display: inline-flex; width: 100%; margin: 0px;">
                    <%= f.text_field :title, placeholder: "Título para la consulta...", maxlength: 250 %>
                </li>
                <li style="display: inline-flex; width: 100%; margin: 0px;">
                    <%= f.text_area :content, placeholder: "Describe lo mejor posible el problema que has detectado y acompañalo con imágenes o links para explicar de la mejor forma posible el problema..." %>        
                </li>
            </ul>
            
        </li>

    </ul>
    <div class="iconos-share">
        <ul style="display: inline-flex; list-style-type: none; width: 100%; margin-bottom: 3px; border-bottom: 1px solid #e6e9ec; border-top: 1px solid #e6e9ec; padding-left: 15px;">
            <li style="width: 30%;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#link4"><span class="fa fa-newspaper-o fa-lg" aria-hidden="true"></span> Link </button>
                    <div id="link4" class="collapse">
                <%= f.text_field :link, placeholder: "Or maybe a link" %>
                    </div>           
            </li>
            <li style="width: 30%;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#video4"><span class="fa fa-video-camera fa-lg" aria-hidden="true"></span> Video </button>
                    <div id="video4" class="collapse">
                <%= f.text_field :video, placeholder: "Or send us a video. Just copy the video code from youtube" %>
                    </div>
            </li>
            <li style="padding: 0px; width: 25%; margin-left: 10px;">
                <div id="test">
                    <div class="wrapper" style="margin-top: 12px; margin-bottom: 0px;">
                        <%= f.file_field(:picture, accept: 'image/jpeg,image/gif,image/png',  class: 'file_input') %>
                    </div>
                    <button class= "btn btn-default btn-sm"><span class="fa fa-picture-o fa-lg" aria-hidden="true"></span> Image </button>
                </div>
            </li>
        </ul>
        <ul style="display: inline-flex; list-style-type: none; width: 100%; margin-bottom: 3px;">
                <li style="padding: 3px; width: 60%; margin-left: 15px; margin-right: 15px;">
                    <span class="fa fa-hashtag" aria-hidden="true">Hashtag </span>
                    <%= f.select :hashtag1, [
                        '',
                        'Family',
                        'People rights',
                        'Education',
                        'Energy',
                        'Environment',
                        'Health Care',
                        'Immigration',
                        'Jobs and Economy',
                        'National Security',
                        'Goverments',
                        'Elderly',
                        'Science and Technology',
                        'Voting',
                        'Reforms and Proposals',
                        'Sports',
                        'Daily Life'] %>
                </li>
                <li style="width: 30%; padding-top: 12px;" >
                    <%= f.submit "Post", class: "btn btn-info btn-sm" %> 
                </li>
            </ul>
    </div>
</div>
</div>

<% end %>

<script>
 var divs = ["Div1", "Div2", "Div3", "Div4"];
    var visibleDivId = null;
    function divVisibility(divId) {
      if(visibleDivId === divId) {
        visibleDivId = null;
      } else {
        visibleDivId = divId;
      }
      hideNonVisibleDivs();
    }
    function hideNonVisibleDivs() {
      var i, divId, div;
      for(i = 0; i < divs.length; i++) {
        divId = divs[i];
        div = document.getElementById(divId);
        if(visibleDivId === divId) {
          div.style.display = "block";
        } else {
          div.style.display = "none";
        }
      }
    }
</script>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      alert('Maximum file size is 2MB. Please choose a smaller file.');
    }
  });
</script>

<!-- fin del formulario del post -->

<!-- fin colapsable -->
